name: Run Main.py Every 1 Hour (7AM-7PM French Time)

on:
  schedule:
    # Winter Time (CET: UTC+1) -> Runs between 06:00-18:00 UTC (07:00-19:00 CET)
    - cron: "0 6-18 * 11-3 *"
    # Summer Time (CEST: UTC+2) -> Runs between 05:00-17:00 UTC (07:00-19:00 CEST)
    - cron: "0 5-17 * 4-10 *"
  workflow_dispatch: # Allows manual trigger from the GitHub UI

jobs:
  run-script:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Set up Google API credentials
      env:
        GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}
      run: echo "$GOOGLE_CREDENTIALS" > credentials.json

    - name: Run script
      env:
        GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}
      run: python main.py
